/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    margin-top: -20px; /* Ajusta este valor */
}


section {
    width: 80%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

h2 {
    border-bottom: 2px solid #1e1e1e;
    padding-bottom: 5px;
}

.item {
    margin-bottom: 15px;
}

.item h3 {
    margin: 0;
    color: #1e1e1e;
}

.habilidades ul {
    list-style: square;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    color: white;
    margin-top: 30px;
}